{% extends "base.html" %}
{% block body %}
<form action="{% url 'planning_request' %}" method="GET">
    <select name="state">
        {% for state in states %}
            <option {% if state == current_state %} selected{% endif %}>{{ state }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Filter">
</form>
Planning requests:
{% for planning_request in planning_requests %}
    <form action="{% url 'approve' %}" method="POST">
        {% for attr, value in planning_request.dict %}
            <div>{{ attr }}: {{ value|default_if_none:"-" }}</div>
        {% endfor %}
        <div>tasks: {{ planning_request.tasks.all.count }}</div>
        <div>recruitment requests: {{ planning_request.recruitment_requests.all.count }}</div>
        <div>financial requests: {{ planning_request.financial_requests.all.count }}</div>
        <input type="hidden" name="planning_request_id" value="{{ planning_request.id }}">
        state: {{ planning_request.state }}
        {% if planning_request.state == "new" and "cso" in groups %}
            <input type="submit" value="Send to SCSO">
            <input type="hidden" name="new_state" value="cso_approved">
        {% elif planning_request.state == "new" and "scso" in groups or planning_request.state == "cso_approved" and "scso" in groups %}
            <input type="submit" value="Send to Finance">
            <input type="hidden" name="new_state" value="scso_approved">
        {% elif planning_request.state == "scso_approved" and "fm" in groups %}
            <div>
                <a href="{% url 'planning_request_write_feedback' planning_request.id %}">Write feedback</a>
            </div>
        {% elif planning_request.state == "fm_commented" and "adm" in groups %}
            <input type="submit" value="Approve and send to Product manager">
            <input type="hidden" name="new_state" value="adm_approved">
        {% endif %}
    </form>
    {% if "scso" in groups and planning_request.state == "new" or "scso" in groups and planning_request.state == "cso_approved" or "adm" in groups %}
        <a href="{% url 'planning_request_edit' planning_request.id %}">Edit</a>
    {% endif %}
    {% if "psm" in groups and planning_request.state == "adm_approved" %}
        <a href="{% url 'create_task' planning_request.id %}">Manage tasks</a>
        <a href="{% url 'create_recruitment_request' planning_request.id %}">Manage recruitment requests</a>
        <a href="{% url 'create_financial_request' planning_request.id %}">Manage financial requests</a>
    {% endif %}
    {% if "hrm" in groups and planning_request.state == "adm_approved" %}
        <a href="{% url 'manage_recruitment_request' planning_request.id %}">Manage recruitment requests</a>
    {% endif %}

<hr />
{% endfor %}

New planning request
<div class="planning-form">
    <form action="{% url 'planning_request' %}" method="POST">
        {{ form.as_p }}
        <input type="submit">
    </form>
</div>
{% endblock %}
